[submodule "godot_headers"]
	path = godot_headers
	url = https://github.com/GodotNativeTools/godot_headers
[submodule "godot-cpp"]
	path = godot-cpp
	url = https://github.com/GodotNativeTools/godot-cpp
[submodule "demo/godot-vrpn-client"]
	path = demo/godot-vrpn-client
	url = https://github.com/simedis/godot-vrpn-client.git
