[submodule "demo/godot-vrpn-client"]
	path = demo/godot-vrpn-client
	url = https://github.com/simedis/godot-vrpn-client.git
[submodule "demo/addons/scatter"]
	path = demo/addons/scatter
	url = https://github.com/HungryProton/scatter.git
